.result{
    display:flex;
    flex-wrap: wrap;
}
.manga {
    margin: 10px;
    width: 300px;
    height:600px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.manga img {
    width: 90%;
    height: 70%;
}
.titleButton{
    background-color: #ff922b;
    border:0px;
    color:white;
    height:50px;
    font-size: 20px;
    width:90%;
}
.titleButton:hover{
    background-color: #ff7b00;
}