.container {
    border:1px solid black;
    background-color: #132335;
    color:white;
    width:50%;
    max-height:100%;
    margin: 20px 10px 0px 10px;    
    padding:20px;
    display:flex;
    border: 1px solid #73b2d4;
    border-width: 0 0 0 8px;
    border-radius: 10px;
    overflow: hidden; /* Hide any overflowing text */

}
.manga_title {
    background-color: transparent;
    font-size: 1.875rem;
    color:white;
    border: none;
}