.container {
    color:black;
    width: 50%;
    max-height:100%;
    margin: 20px 10px 0px 10px;    
    padding:0px;
    display:flex;
    overflow:hidden; /* Hide any overflowing text */

}
.description-text {
    padding-left: 10px;
}

.manga_title {
    background-color: transparent;
    font-size: 1.875rem;
    color:black;
    border: none;
}