* {
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}


.navigation_bar {
    display:flex;
    flex-direction: row;
    box-shadow: 10px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}
.logo-text{
    padding-top: 5px;
    color:white;
}
.navigation_buttons {
    background-color: transparent;
    border: none;
    color:white;
    padding-left: 30px;
    font-size: 16px;
}

.manga_search {
    width:270px;
    height:30px;
    padding-left:10px;  
    justify-content: end;
    margin-left: 200px;
    margin-top:10px;
    background-color: hsl(260, 13%, 9%);
    border:0px;
    border-radius: 10px;
}
.navigation_buttons{
    font-weight: 500;

}
.navigation_buttons:hover{
    color:red;
}
.manga_search::placeholder{
    color:white;
}
.search_button {
    border-radius: 10px;
    background-color: #ff922b;
    color:white;
    border:0px;
    margin-left: 30px;
    padding:5px 20px 5px 20px;
    font-size: 1.1rem;
}

.search_button:hover{
    scale:1.1;
}