* {
    margin: 0;
    padding:0;
}


.navigation_bar {
    display:flex;
    flex-direction: row;
    background-color: #0a1726;
    border: 0px solid white;
    border-bottom-width: 1px;
    color:white;
    padding: 20px;
    
}
.logo-text{
    padding-top: 5px;
}
.navigation_bar button {
    background-color: transparent;
    border: none;
    color:white;
    padding-left: 30px;
    font-size: 20px;
}

.manga_search {
    border-radius: 15px;
    border-color:transparent;
    width:500px;
    padding-left:10px;  
    justify-content: end;
    margin-left: auto;
}